<div class="col-md-12 space">
  <div class="row">
    <div class="col-md-1">
      icone<br><br>
    </div>
    <div class="col-md-11">
      <div id="headerBody">
        <app-header></app-header>
      </div>
    </div>
  </div>

  <div class="row space">
    <div class="col-md-1 space">
      <div id="workspaceBody">
        <app-work-spaces></app-work-spaces>
      </div>
    </div>

    <div class="col-md-2 space">
      <div id="channelBody">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div> <!-- /row -->
</div> <!-- /row col-md-12 -->


